Database Fulfilling Requirements Explained
==========================================

The database will contain a table named Users that holds user data that 
facilitates individual credentials for logins, along with their unique 
personal information.  Each band will have an entry in a different table 
named Band, and the entry will be added upon signing up for the 
software.

Users can sign up for bands, and this will create an entry in a table 
called BandsIn that describes what bands each user is a part of, what 
instruments they play for that band, and if they are a director for that 
band.  By additional entries into the BandsIn table, members and 
directors can be in multiple bands, and differentiate between if they 
are directors or members in those bands.

Band will have the ability to upload and access files of the extension 
".pdf" to the software.  These .pdf's are various parts of a song that 
are performed by different individuals.  The file will be stored in the 
server's filesystem, and the database will store the location of the 
file in the Part table, along with the the indentifiers of who will 
perform that part.  The Part table also tracks a song identifier that is 
linked to the Song table.  The Song table is where it is stored as to 
which bands own which songs, as well as the name of the song.

By having the Customize table, band directos will be able to store 
elements that they have customized for their home page for their band.  
By using the band identifier, this information is linked back to the 
band's account.

