/**********************************************
CSS FOR index.php
**********************************************/

/**********************************************
CSS FOR band_page.php
**********************************************/
body {
  color: white;
  background-color: #484848;
  /*background-image: url('C:/Users/Guy/Documents/GitHub/DB-GUI/web-src/img/gwbi.jpg');*/
}

body a {
  position: relative;
  float: right;
  color: #b78727;
}

h1 {
  position: fixed;
  left: 10%;
  top: 5%;
}

#navbar {
  position: fixed;
  width: 96%;
  left: 2%;
  right: 2%;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  background: #181818;
}

#navbar ul {
  color: #181818;
  list-style: none;
  margin: 0px;
  padding: 1em;
  font-size: 20px;
}

#navbar li {
  float: left;
  margin-right: 50px;
  height: 35px;
  /*background-color: #484848;*/
  /*left: 200px;*/
}

#navbar li a:link {
  background-color: #181818;
  color: #484860;
  text-decoration: none;
  margin-top: -5px;
  padding: .15em;
  font-size: 22px;
}

#navbar li a:hover {
  background-color: #303030;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

img {
  float: left;
  height: 80px;
  width: auto;
}

.band_pages {
  position: fixed;
  left: 2%;
  color: #b78727;
  background-color: #181818;
  top: 30%;
  width: 160px;
  padding-left: 1%;
  height: 300px;
  height: 67%;
  overflow: auto;

}

.band_pages ul {
  list-style: none;
}

#about {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 82%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #181818;
  /*display: none;*/
}

#pieces {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 82%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #181818;
  display: none;
 }

#management {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 82%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #181818;
  display: none;
}

#events {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 82%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #181818;
  display: none;
}

#members {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 82%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #181818;
  display: none;
}

#contact {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 82%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #181818;
  display: none;
}
/*
.hidden {
  display: none !important;
}

.visible {}*/
