html {
  background-image:url('http://ec2-54-200-98-78.us-west-2.compute.amazonaws.com/DB-GUI/web-src/img/gwbi.jpg');
}


/**********************************************
CSS FOR index.php
**********************************************/
/*Testing Facebook*/
#fbLogin {
background: url('../images/facebooklogin.png');
background-repeat: no-repeat;
float: right;
width: 12%;
margin-left: -60px;
margin-right: 10px;
}

#loginContainer {
  position: absolute;
float: right;
padding-top: .5%;
width: 50%;
left: 50%;
}

#index_body {
  background-color: #484848;
  height: 40px;
  width: 110%;
  margin-left: -20px;
  margin-top: -1px;
  overflow: hidden; 
}



#ilogo {
  position: absolute;
  display: inline-block;
  top: 110px;
  width: 150px;
}

#login {
  float: right;
  font-size: 84%;
  width: 80%;
  padding-top: 0%;
  padding-right: 1%;

}

.logEmail {
  display: inline;
  padding-left: 1%;
}

.logPass {
  display: inline;
}

.info {
  display: inline-block;
  width: 48%;
  padding-right: 5%;
  padding-left: 2%;
  float: left;
  position: relative;
  font-size: 18px;
  top: 185px;
}

.page {
  display: inline-block;
  position: relative;
  top: 100px;
  width: 45%;
  font-size: 32px;
  color: #b78727;
}

#register header {
  position: relative;
  left: 170px;
  top: 15px;
  width: 300px;
}

.page ul {
  list-style: none;
}

/**********************************************
CSS FOR user_page.php
**********************************************/

.bands {
  position: absolute;
  color: #b78727;
  background-color: #484848;
  width: 600px;
  height: 70%;
  top: 20%;
  left: 25%;
  margin-left: 1%;
  overflow: auto;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px 5px;
}

.bands h2 {
  padding-left: 3%;
  
}

.bands a {
  color: white;
  float: left;
  text-decoration: none;
  clear: both;
  padding-top: 1%;
  padding-bottom: 1%;
}

.bands li {
  list-style: none;
}

#top_bar {
  background-color: #484848;
  height: 40px;
  width: 110%;
  margin-left: -20px;
  margin-top: -1px;
}

#logout {
  float: right;
}

#userCreateBand {
  float: right;
}

img.isDirector {
  float: left;
  height: 25px;
  width: auto;
}

/**********************************************
CSS FOR band_page.php
**********************************************/

body {
  color: white;
  background-color: #484848;
}

body a {
  position: relative;
  float: right;
  color: #b78727;
}

h1 {
  position: fixed;
  top: 5px;
  margin-top: 13px;
  margin-left: 2%;
  font-size: 32px;
}

#navbar {
  position: fixed;
  width: 96%;
  left: 2%;
  right: 2%;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  background: #484848;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px 5px;
}

#navbar ul {
  color: #484848;
  list-style: none;
  margin: 0px;
  padding: 1em;
  font-size: 20px;
}

#navbar li {
  float: left;
  margin-right: 52px;
  height: 35px;
}



#navbar li a:link {
  background-color: #484848;
  color: #b78727;
  text-decoration: none;
  margin-top: -5px;
  padding: .15em;
  font-size: 22px;
  
}

#navbar li a:hover {
  background-color: #303030;
  color: white;
  text-decoration: none;
  /*padding: 1%;*/
}


#navbar2 {
 position: absolute;
width: 96%;
left: -1.5%;
margin-left: 1%;
top: 17%;
border-radius: 5px 5px;
}

#navbar2 ul {
  color: #484848;
  list-style: none;
  margin-top: 5px;
  padding: 1em;
  font-size: 20px;
}

#navbar2 li {
  float: left;
  margin-right: 20px;
  height: 35px;
}

#navbar2 li a:link {
  background-color: #484848;
  color: #b78727;
  text-decoration: none;
/*  margin-top: -5px;
  padding: .15em;
  font-size: 22px;*/
  
}

#navbar2 li a:hover {
  background-color: #303030;
  color: white;
  text-decoration: none;
  /*padding: 1%;*/
}

img {
  float: left;
  height: 80px;
  width: auto;
}

.band_pages {
  position: fixed;
  left: 2%;
  color: #b78727;
  background-color: #484848;
  top: 30%;
  width: 160px;
  padding-left: 1%;
  height: 300px;
  height: 67%;
  overflow: auto;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px 5px;
}

.band_pages ul {
  list-style: none;
}

.band_pages a {
  text-decoration: none;
  float: left;
  clear: both;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
}

#createBand {

}

#about {
  position: fixed;
  top: 30%;
  left: 16%;
  width: 81%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #484848;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px 5px;
  /*display: none;*/
}

#pieces {
  position: fixed;
  top: 30%;
  left: 16%;
  width: 81%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #484848;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px 5px;
  /*display: none;*/
 }

 #pieces li {
  list-style-type: none;
 }

 #pieces li a {
    float: left;
    display: block;
 }

#management {
  position: fixed;
  top: 30%;
  left: 16%;
  width: 81%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #484848;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px 5px;
  /*display: none;*/
}

#events {
  position: fixed;
  top: 30%;
  left: 16%;
  width: 81%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #484848;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px 5px;
  /*display: none;*/
}

#members {
  position: fixed;
  top: 30%;
  left: 16%;
  width: 81%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #484848;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px 5px;
  /*display: none;*/
}

#contact {
  position: fixed;
  top: 30%;
  left: 16%;
  width: 81%;
  height: 67%;
  padding-left: 1%;
  font-size: 30px;
  overflow: auto;
  background-color: #484848;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px 5px;
  /*display: none;*/
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.hidden2 {
  display: none !important;
}

.visible2 {
  display: block !important;
}

.selected {
  background-color: #292E37 !important;
  height: 10% !important;
  border-radius:5px;
}

.notselected{
  background-color: #484848;
}

#editPhone {
  padding-bottom: 20px;
}

#changeInfo {
  display: block;
margin-top: 0em;

}

#changeEvents {
/*visibility: hidden;*/
}

#addMembers {
/*visibility: hidden;*/
}

#editPhone {
/*visibility: hidden;*/
}

/**********************************************
CSS FOR BandCreation.php
**********************************************/
body a {
  position: relative;
}

#makeBand ol{
  list-style: none;
  padding-top: 1%;
}

#makeBand ol li p {
  position: relative;
  display: inline;
  /*width: 300px;*/
}

#makeBand ol li textArea {
  position: relative;
  display: inline-block;
  left: 100px;
}

#makeBand ol li input {
  position: relative;
  display: inline-block;
  left: 100px;
}

#makeBand ol li:last-child input {
  left: 62px;
}

#createBand {
  position: relative;
  right: 30px;
  top: 5px;
  clear: both;
  /*clear: both;*/
}

#bandCreation {
  position: relative;
  left: 30px;
}