/**********************************************
CSS FOR index.php
**********************************************/

/**********************************************
CSS FOR band_page.php
**********************************************/
/*body {
  height: 1000px;
}*/

h1 {
  position: fixed;
  left: 2%;
}

#navbar {
  position: fixed;
  width: 96%;
  left: 2%;
  right: 2%;
  top: 12%;
  margin-left: auto;
  margin-right: auto;
  background: #dddddd;
}

#navbar ul {
  color: #2C2C2C;
  list-style: none;
  margin: 0px;
  padding: 1em;
  font-size: 20px;
}

#navbar li {
  float: left;
  margin-right: 15px;
  left: 200px;
}

#navbar li a:hover {
  background-color: #2C2C2C;
  color: #DD3124;
  text-decoration: none;
  font-size: 32px;
}

img {
	float: left;
  height: 80px;
  width: auto;
}

.band_pages {
	position: fixed;
	left: 2%;
	color: orange;
	background-color: #dddddd;
	top: 30%;
  width: 170px;
  height: 300px;
  /*float: left;*/
}

#about {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 83%;
  height: 67%;
  font-size: 30px;
  overflow: auto;
  background-color: #DDDDDD;
  display: none;
}

#management {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 83%;
  height: 67%;
  font-size: 30px;
  overflow: auto;
  background-color: #DDDDDD;
  /*display: none;*/
}

